.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    height: 200px;
    width: 100%;
    margin: 0;
}

h3 {
    margin: 20px 0;
}

.eventPrev {
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.eventImage Img {
    flex: 1;
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.eventDetail {
    flex: 2;
}

.tag-badge {
    background-color: black;
    color: white;
    padding: 1px;
    border-radius: 5px;
}

.eventForm {
    border: 1px solid;
    border-radius: 8px;
    padding: 10px;
}

    .eventForm input {
        flex: 2;
        width: 100%;
        box-sizing: border-box;
    }

    .eventForm button {
        margin-top: 10px;
        background-color: black;
        color: white;
        border-radius: 8px;
    }
