@model WebApplicationProject.Models.Event
<link rel="stylesheet" href="~/css/eventPrev_eventForm.css" asp-append-version="true" />
@section Banner{
    <div class="head">
        <h1>Create Event</h1>
        <p>สร้างกิจกรรม</p>
    </div>
}
<form asp-action="Create" method="post" id="eventForm" class="eventForm">
    <div class="title">
        <label>ชื่อ Event:</label>
        <input asp-for="Title" />
    </div>
    <div class="description">
        <label>คำอธิบาย</label>
        <input asp-for="Description" />
    </div>
    <div class ="imageLink">
        <label>ใส่ลิงก์รูปภาพ</label>
        <input asp-for="Image" />
    </div>
    <div class="tag">
        <label>ใส่ Tag</label>
        <input asp-for="Tag" />
    </div>
    <div class="maxParti">
        <label>จำนวนคน</label>
        <input asp-for="MaxParticipants" />
    </div>
    <div class="time">
        <label>เวลา</label>
        <input asp-for="DateTime" />
    </div>
    <div class="location">
        <label>สถานที่</label>
        <input asp-for="Location" />
    </div>
    <button type="submit">สร้าง Event</button>
</form>
<div id="example">
    <h3>ตัวอย่างที่จะแสดงผล</h3>
    <div class="eventPrev">
        <div class="eventImage">
            <img id="prevImage" src="https://via.placeholder.com/350x200" />
        </div>
        <div class="eventDetail">
            <h4 id="prevTitle">ชื่อกิจกรรม</h4>
            <p id="prevDesc">คำอธิบาย</p>
            <div id="prevTags" style="margin-top: 10px;"></div>
            <div class="meta-info">รับ <span id="prevCount">0</span> คน</div>
            <div class="meta-info"><span id="prevDate">--/--/---- --:--</span></div>
            <div class="meta-info"><span id="prevLocation">ระบุสถานที่</span></div>
        </div>
    </div>    
</div>